{% extends "layout.twig" %}

{% block content %}
<main>
    <div class="ui container">
        <div class="ui grid">
            <div class="sixteen wide column">
                <div class="col page-title">
                    <h2 class="ui header">
                        {{ __('custom_fields.list_group.title') }}
                        <a class="ui primary basic button right floated item btn-create-group-fields">
                            <i class="plus icon"></i> {{ __('custom_fields.list_group.add_group_button') }}
                        </a>
                    </h2>
                </div>
            </div>
        </div>
        <div class="ui grid">
            <div class="sixteen wide column">
                <div class="setting-tabs">
                    {% include "settings/tabs.twig" %}
                </div>
            </div>
        </div>

        <div class="ui grid">
            <div class="sixteen wide column">
                {% if listGroup is not empty %}
                    <table class="ui very basic table">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Title <i class="ui help circle outline icon help-element" data-content="Name of the field group"></i></th>
                            <th>Fields <i class="ui help circle outline icon help-element" data-content="Count of fields in this group"></i></th>
                            <th>Type <i class="ui help circle outline icon help-element" data-content="Entity type to which this group is attached"></i></th>
                            <th>Status <i class="ui help circle outline icon help-element" data-content="Group status, if the status is inactive - the fields are not displayed in the entity"></i></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for group in listGroup %}
                            <tr>
                                <th scope="row">
                                    <div class="inline field">
                                        <div class="ui checkbox">
                                            <input type="checkbox" name="terms">
                                            <label></label>
                                        </div>
                                    </div>
                                </th>
                                <td>
                                    <a href="/backend/settings/custom_fields/group/{{ group.id }}">
                                        {{ group.title }}
                                    </a>
                                </td>
                                <td>{{ group.count_fields }}</td>
                                <td>{{ group.type|capitalize }}</td>
                                <td>
                                    {% if group.status %}
                                        Active
                                    {% else %}
                                        Inactive
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="row">
                        <div class="col">
                            <div class="empty-list-text">
                                <div class="ui basic segment">
                                    <p>{{ __('custom_fields.list_group.no_groups') }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</main>

<div id="addGroupFields" class="ui dimmer modals page transition">
    <div class="ui standard test modal transition hidden">
        <div class="ui tiny test modal transition">
            <div class="header">
                Add group
            </div>
            <div class="content">
                <form id="addGroupForm" class="ui form">
                    <div class="required field">
                        <label>Title</label>
                        <input type="text" name="title" id="titleGroup" placeholder="Title group...">
                    </div>
                    <div class="required field">
                        <label>Type resource</label>
                        <select id="typeGroup" class="ui fluid dropdown" onchange="customField.loadTemplates(this)">
                            {% if groupFieldTypes is not empty %}
                                {% for groupType in groupFieldTypes %}
                                    <option value="{{ groupType.name }}">
                                        {{ groupType.title }}
                                    </option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                    <div class="field">
                        <label>Template</label>
                        <select id="templateGroup" class="ui search dropdown">
                            <option value="all">All</option>
                            <option value="page">Basic</option>
                            {% if listTemplates %}
                                {% for key,template in listTemplates %}
                                    <option value="{{ key }}">
                                        {{ template }}
                                    </option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </form>
            </div>
            <div class="actions">
                <div class="ui negative button">
                    Cancel
                </div>
                <div class="ui green button submit right icon" onclick="customField.addGroup(this)">
                    Create
                    <i class="checkmark icon"></i>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}