{% extends "layout.twig" %}

{% block content %}
    <main>
        <div class="ui container">
            <div class="ui grid">
                <div class="four wide column">
                    <div class="ui segments">
                        <div class="ui segment">
                            <h2 class="ui center aligned icon header">
                                <div class="content">
                                    +{{ count_categories }}
                                    <div class="sub header">Количество категорий.</div>
                                </div>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="four wide column">
                    <div class="ui segments">
                        <div class="ui segment">
                            <h2 class="ui center aligned icon header">
                                <div class="content">
                                    +{{ count_products }}
                                    <div class="sub header">Количество продуктов.</div>
                                </div>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="four wide column">
                    <div class="ui segments">
                        <div class="ui segment">
                            <h2 class="ui center aligned icon header">
                                <div class="content">
                                    +{{ count_pages }}
                                    <div class="sub header">Количество страниц.</div>
                                </div>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="four wide column">
                    <div class="ui segments">
                        <div class="ui segment">
                            <h2 class="ui center aligned icon header">
                                <div class="content">
                                    +{{ count_posts }}
                                    <div class="sub header">Количество новостей.</div>
                                </div>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="ui grid">
                <div class="sixteen wide column">
                    <div class="widget-container">
                        <div class="widget-empty">
                            <p>{{ __('dashboard.main.widgets.heading') }}</p>
                            <button class="ui basic button" onclick="alert('Недоступно в бета версии')">
                                <i class="icon plus"></i>
                                {{ __('dashboard.main.widgets.button') }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
    </main>
{% endblock %}