{% extends "layout.twig" %}

{% block content %}
    <main>
        <div class="ui container">
            <div class="ui grid">
                <div class="sixteen wide column">
                    <div class="col page-title">
                        <h2 class="ui header">
                            {{ resource.title }}
                            <!--<div class="sub header grey">
                                <a href="{{ baseUrl }}/{{ nameResource }}/{{ resource.segment }}" target="_blank">
                                    {{ baseUrl }}/{{ nameResource }}/{{ resource.segment }}
                                </a>
                            </div>-->
                        </h2>
                    </div>
                </div>
            </div>
            <div class="ui grid">
                <div class="twelve wide column">
                    <div class="ui secondary menu">
                        <a class="item active" data-tab="content">Контент</a>
                        {% if customFields is not empty %}
                            <a class="item" data-tab="custom_fields">Специальные поля</a>
                        {% endif %}
                    </div>
                    <div class="ui bottom attached tab active" data-tab="content">
                        <form id="formPage" class="ui form">
                            <input type="hidden" name="resource_id" id="formResourceId" value="{{ resource.id }}" />
                            <div class="field">
                                <label>{{ __('resources.edit.label_title') }}</label>
                                <input type="text" name="title" class="form-control" id="formTitle" value="{{ resource.title }}" placeholder="{{ __('resources.edit.placeholder_title', [nameResource]) }}">
                            </div>
                            <div class="field">
                                <label>{{ __('resources.edit.label_content') }}</label>
                                <textarea name="content" id="formContent" class="redactor" placeholder="Напишите здесь что нибудь...">{{ resource.content }}</textarea>
                            </div>
                        </form>
                    </div>
                    {% if customFields is not empty %}
                        <div class="ui bottom attached tab" data-tab="custom_fields">
                            <div class="ui styled fluid accordion">
                                <form id="customFieldsForm" class="ui form">
                                    {% for group in customFields %}
                                        <div class="title">
                                            <i class="dropdown icon"></i>
                                            {{ group.group.title }}
                                        </div>
                                        <div class="content">
                                            {% if customFields %}
                                                {% for field in group.fields %}
                                                    {{ field.html|raw }}

                                                    {% if field.type == 'multifile' and field.value != '' %}
                                                        {% set isOtherFile = 0 %}
                                                        {% for id in json_decode(field.value) %}
                                                            {% set file = file_object(id) %}
                                                            {% if file.type == 'image/png' or file.type == 'image/jpeg' %}
                                                            {% else %}
                                                                {% set isOtherFile = 1 %}
                                                            {% endif %}
                                                        {% endfor %}

                                                        {% if isOtherFile == 1 %}
                                                            {% for id in json_decode(field.value) %}
                                                                {% set file = file_object(id) %}
                                                                <p class="js-image-{{ id }}"><i class="file outline icon"></i> {{ file.name }}  <a onclick="resource.remove({{ field.id }}, {{ resource.id }}, {{ id }})">Удалить</a></p>
                                                            {% endfor %}
                                                        {% else %}
                                                            <ul class="ui tiny images" id="sort_images" style="padding: 0;">
                                                                {% for id in json_decode(field.value) %}
                                                                    {% set file = file_object(id) %}
                                                                    <li class="js-image-{{ id }} js-custom-image js-custom-image-{{ id }}" data-id="{{ id }}" data-field-id="{{ field.id }}">
                                                                        <a class="remove-image" onclick="resource.remove({{ field.id }}, {{ resource.id }}, {{ id }})">
                                                                            <span class="lnr lnr-cross"></span>
                                                                        </a>
                                                                        <img class="ui image rounded" src="{{ file(id) }}">
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        {% endif %}

                                                        {% set isOtherFile = 0 %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% else %}
                                                <p>There are no fields in this group.</p>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </form>
                            </div>
                        </div>
                    {% endif %}

                    <br>
                    {% for resourceTypeRelation in resourceTypeRelations %}
                        <div class="ui segments">
                            <div class="ui segment relations" data-relation-id="{{ resourceTypeRelation.id }}">
                                <h3 class="ui header">{{ resourceTypeRelation.title }} - связи</h3>
                                <select class="ui fluid search dropdown" multiple="">
                                    <option value=""> -- Выбрать -- </option>
                                    {% for itemResource in resourceTypeRelation.resources %}
                                        <option value="{{ itemResource.id }}"{% if itemResource.id in resourceRelations[resourceTypeRelation.id]|keys %} selected{% endif %}>
                                            {{ itemResource.title }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    {% endfor %}

                    {% if nameResource == 'hotel' %}
                        <br>
                        {% include "/google-map/geo.twig" %}
                    {% endif %}
                </div>
                <div class="four wide column">
                    <div class="ui segments">
                        <div class="ui blue segment">
                            <h4>{{ __('resources.edit.update_segment_heading') }}</h4>
                        </div>
                        <div class="ui form segment">
                            <div class="field">
                                <label>{{ __('resources.edit.label_status') }}</label>
                                <select id="status" class="ui search dropdown">
                                    <option value="publish"{% if resource.status == 'publish' %} selected{% endif %}>Активная</option>
                                    <option value="top"{% if resource.status == 'top' %} selected{% endif %}>Топ</option>
                                    <option value="draft"{% if resource.status == 'draft' %} selected{% endif %}>Архивная</option>
                                </select>
                            </div>
                        </div>
                        <div class="ui secondary segment">
                            <p>{{ __('resources.edit.description_form_button', [nameResource]) }}</p>
                            <button type="submit" class="ui primary button" onclick="resource.update(this)">
                                {{ __('resources.edit.form_button') }}
                            </button>
                        </div>
                    </div>

                    <div class="ui segments">
                        <div class="ui blue segment">
                            <h4>{{ __('resources.edit.setting_segment.heading') }}</h4>
                        </div>
                        <div class="ui form segment">
                            <div class="field">
                                <label>{{ __('resources.edit.setting_segment.label_type', [nameResource]) }}</label>
                                <select id="type" class="ui search dropdown">
                                    <option value="basic">Базовый</option>
                                    {% for key,type in pageTypes %}
                                        <option value="{{ key }}"{% if resource.type == key %} selected{% endif %}>
                                            {{ type }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="ui form segments">
                        <div class="ui blue segment">
                            <input class="upload-file" type="file" multiple="multiple" accept=".txt,image/*" style="display: none;">
                            {% if image %}
                                <img class="ui medium bordered image post-image" src="{{ image.link }}">
                            {% else %}
                                <img class="ui medium bordered image post-image" src="https://semantic-ui.com/images/wireframe/white-image.png">
                            {% endif %}
                            <br>
                            <button class="ui primary button upload-post-image">
                                Добавить изображение
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}