{% extends "layout.twig" %}

{% block content %}
    <main>
        <div class="ui container">
            <div class="ui grid">
                <div class="sixteen wide column first page-title">
                    <h2 class="ui header">
                        {{ __('resources.list.title', [resource_type.title]) }}
                        <a href="/backend/resource-type/{{ resource_type.name }}/settings/"><i class="cogs icon"></i></a>
                        <a href="/backend/resource/{{ resource_type.name }}/create/" class="ui primary button right floated item">
                            {{ __('resources.list.create_button') }}
                        </a>
                    </h2>
                </div>
            </div>
            <br>
            <div class="ui grid"></div>
            <div class="ui grid">
                <div class="sixteen wide column">
                {% if resources is not empty %}
                    <table class="ui very basic table">
                        <thead>
                            <tr>
                                <th><i class="ui help circle outline icon help-element" data-content="Unique identificator"></i></th>
                                <th>{{ __('resources.list.table_title') }}</th>
                                <th>Статус</th>
                                <th>{{ __('resources.list.table_date') }}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for resource in resources %}
                            <tr>
                                <th scope="row">
                                    {{ resource.id }}
                                </th>
                                <td>
                                    <a href="/backend/resource/{{ resource_type.name }}/edit/{{ resource.id }}">
                                        {{ resource.title }}
                                    </a>
                                </td>
                                <td>
                                    {% if resource.status == 'top' %}
                                        <span style="color: green"><i class="rocket icon"></i> {{ resource.status|title }}</span>
                                    {% endif %}

                                    {% if resource.status == 'draft' %}
                                        <span style="color: grey">В архиве</span>
                                    {% endif %}

                                    {% if resource.status == 'publish' %}
                                        <span style="color: #4183c4">Опубликовано</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {{ resource.date }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <div class="row">
                        <div class="col">
                            <div class="empty-list-text">
                                <div class="ui basic segment">
                                    <p>У вас нет ресурсов этого типа</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="four wide column">

                </div>
            </div>
        </div>
    </main>
{% endblock %}