{% extends "layout.twig" %}

{% block content %}
    <main>
        <div class="ui container">
            <div class="ui grid">
                <div class="sixteen wide column first page-title">
                    <h2 class="ui header">
                        {{ __('resources.list.title', [resource_type.title]) }}
                        <a href="/backend/resource-type/{{ resource_type.name }}/settings/"><i class="cogs icon"></i></a>
                        <a href="/backend/resource/{{ resource_type.name }}/create/" class="ui primary button right floated item">
                            {{ __('resources.list.create_button') }}
                        </a>
                    </h2>
                </div>
            </div>
            <br>
            <div class="ui grid"></div>
            <div class="ui grid">
                <div class="twelve wide column">
                {% if resources is not empty %}
                    <table class="ui very basic table">
                        <thead>
                            <tr>
                                <th><i class="ui help circle outline icon help-element" data-content="Unique identificator"></i></th>
                                <th>{{ __('resources.list.table_title') }}</th>
                                <th>{{ __('resources.list.table_date') }}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for resource in resources %}
                            <tr>
                                <th scope="row">
                                    {{ resource.id }}
                                </th>
                                <td>
                                    <a href="/backend/resource/{{ resource_type.name }}/edit/{{ resource.id }}">
                                        {{ resource.title }}
                                    </a>
                                </td>
                                <td>
                                    {{ resource.date }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <div class="row">
                        <div class="col">
                            <div class="empty-list-text">
                                <div class="ui basic segment">
                                    <p>У вас нет ресурсов этого типа</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="four wide column">
                    <div class="ui segments">
                        <div class="ui blue segment">
                            <h4>{{ __('resources.list.categories.heading') }}</h4>
                        </div>
                        <div class="ui segment">
                            <div class="ui relaxed divided list">
                                {% if categories %}
                                    {% for category in categories %}
                                        <div class="item">
                                            <i class="folder outline aligned icon"></i>
                                            <div class="content">
                                                <a href="/backend/resource/{{ category.resource_type_id }}/category/edit/{{ category.id }}" class="header">
                                                    {{ category.name }}
                                                </a>
                                                <div class="description">Count: 0</div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <p class="empty-items center">{{ __('resources.list.categories.empty_text') }}</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="ui secondary segment">
                            <a href="/backend/resource/{{ resource_type.id }}/category/create/" class="ui primary button">
                                {{ __('resources.list.categories.create_button') }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}