{% extends "layout.twig" %}

{% block content %}
    <main>
        <div class="ui container">
            <div class="ui grid">
                <div class="sixteen wide column">
                    <div class="col page-title">
                        <h2 class="ui header">
                            {{ __('resources.create.heading', [resourceType.getAttribute('title')]) }}
                        </h2>
                    </div>
                </div>
            </div>
            <div class="ui grid">
                <div class="twelve wide column">
                    <form id="formPage" class="ui form">
                        <input type="hidden" name="resource_type_id" id="formResourceTypeId" value="{{ resourceType.getAttribute('id') }}" />
                        <div class="field">
                            <label>{{ __('resources.create.label_title') }}</label>
                            <input type="text" name="title" class="form-control" id="formTitle" placeholder="{{ __('resources.create.placeholder_title', [resourceType.getAttribute('title')]) }}">
                        </div>
                        <div class="field">
                            <label>{{ __('resources.create.label_content') }}</label>
                            <textarea name="content" id="redactor"></textarea>
                        </div>
                    </form>
                </div>
                <div class="four wide column">
                    <div>
                        <p>{{ __('resources.create.description_form_button', [resourceType.getAttribute('title')]) }}</p>
                        <button type="submit" class="ui primary button" onclick="resource.add(this)">
                            {{ __('resources.create.form_button') }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}